<h1>{{title}}{{alertMatrixRecord.Description | uppercase}}</h1>
<hr>
<table class="table table-striped table-hover">
  <tr>
    <th>Description</th>
    <td>
      <span [innerText]="alertMatrixRecord.Description"></span>
    </td>
  </tr>
  <tr>
    <th>Id</th>
    <td>
      <span [innerText]="alertMatrixRecord.Id"></span>
    </td>
  </tr>
  <tr>
    <th>NotificationDriver</th>
    <td>
      <span [innerText]="alertMatrixRecord.NotificationDriver"></span>
    </td>
  </tr>
  <tr>
    <th>ResourceDescription</th>
    <td>
      <span [innerText]="alertMatrixRecord.ResourceDescription"></span>
    </td>
  </tr>
  <tr>
    <th>ResourceName</th>
    <td>
      <span [innerText]="alertMatrixRecord.ResourceName"></span>
    </td>
  </tr>
  <tr>
    <th>ResourceTypeDescription</th>
    <td>
      <span [innerText]="alertMatrixRecord.ResourceTypeDescription"></span>
    </td>
  </tr>
  <tr>
    <th>ResourceTypeName</th>
    <td>
      <span [innerText]="alertMatrixRecord.ResourceTypeName"></span>
    </td>
  </tr>
</table>